---
title: Prepmedians
---

<section class="hero">
    <div class="text-block">
      	<h1>Learn test prep through sketch comedy, rap, and music!</h1>
		<hr class="line"></hr>
		<h2>Because learning is worth laughing for!</h2>
		<p>Get started for free with hilarious videos that teach the same strategies that have helped 150+ students substantially improve their ACT<sup>®</sup> English/SAT<sup>®</sup> Writing & Language scores!</p>
		<a href="" class="button-green">Start ACT<sup>®</sup> English</a>
		<a href="" class="button-darkgreen">Start SAT<sup>®</sup> Writing & Language</a>
    </div>
</section>

<section class="introduction">
    <div class="text-block-centered">
    	<h4>What's a Prepmedian?</h4>
      	<h3>Introduction</h3>
		<hr class="line"></hr>
		<div class="video">
			<script src="https://fast.wistia.com/embed/medias/lmt07py17h.jsonp" async></script>
			<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
			<div class="video-container">
			  <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
			    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
			      <div class="wistia_embed wistia_async_lmt07py17h videoFoam=true" style="height:100%;position:relative;width:100%">
			        <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
			          <img src="https://fast.wistia.com/embed/medias/lmt07py17h/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" />
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
    </div>
</section>

<section class="pricing">
    <div class="text-block-centered">
    	<h4>Master these strategies!</h4>
      	<h3>Our Pricing</h3>
		<hr class="line"></hr>

		<div class="container"> 
			<div class="all-boxes">
				<h5>ACT<sup>®</sup> English Prep ($30)</h5>
				<hr class="line"></hr>
				<p>This comprehensive package gives you access to 20+ entertaining and educational videos that teach you everything you need to know to crush the ACT<sup>®</sup> English section on June 8th, 2019!</p>
				<div class="expanded-information"> 
					<div class="expandable">
						<%= image_tag("book.svg", alt: "", :class =>"icon") %> <p><strong>Full Grammar Content Review</strong></p></div>
					<div class="expandable">
						<%= image_tag("puzzle.svg", alt: "") %> <p><strong>Full Grammar Strategy Review</strong></p></div>
					<div class="expandable">
						<%= image_tag("piano.svg", alt: "") %> <p><strong>Comedy/Rap/Music Videos</strong></p></div>
					<div class="expandable">
						<%= image_tag("aggrement.svg", alt: "") %> <p><strong>Practice Questions</strong></p></div>
					<div class="expandable">
						<%= image_tag("award.svg", alt: "") %> <p><strong>Need-to-Knows Packet</strong></p></div>
				</div>
				<a href="" class="button-green">Choose ACT<sup>®</sup> Plan</a>
			</div>
		
			<div class="all-boxes">
				<h5>SAT<sup>®</sup> Writing & Language Prep ($30)</h5>
				<hr class="line"></hr>
				<p>This comprehensive package gives you access to 20+ entertaining and educational videos that teach you everything you need to know to crush the SAT<sup>®</sup>  Writing and Language section on June 1st, 2019!</p>

				<div class="expanded-information"> 
					<div class="expandable"><img src="images/book.svg" alt=""/><p><strong>Full Grammar Content Review</strong></p></div>
					<div class="expandable"><img src="images/puzzle.svg" alt=""/><p><strong>Full Grammar Strategy Review</strong></p></div>
					<div class="expandable"><img src="piano/piano.svg" alt=""/><p><strong>Comedy/Rap/Music Videos</strong></p></div>
					<div class="expandable"><img src="images/agreement.svg" alt=""/><p><strong>Practice Questions</strong></p></div>
					<div class="expandable"><img src="images/award.svg" alt=""/><p><strong>Need-to-Knows Packet</strong></p></div>
				</div>
				<a href="" class="button-green">Choose SAT<sup>®</sup> Plan</a>
			</div>
			
			<div class="all-boxes">
				<h5>ACT<sup>®</sup>/SAT<sup>®</sup> Writing & Language Prep ($45)</h5>
				<hr class="line"></hr>
				<p>This comprehensive package gives you access to 20+ entertaining and educational videos that teach you everything you need to know to crush both the SAT<sup>®</sup> Writing and Language Section on June 1, 2019 and the ACT<sup>®</sup> English section on June 8th, 2019!</p>

				<div class="expanded-information"> 
					<div class="expandable"><img src="images/book.svg" alt=""/><p><strong>Full Grammar Content Review</strong></p></div>
					<div class="expandable"><img src="images/puzzle.svg" alt=""/><p><strong>Full Grammar Strategy Review</strong></p></div>
					<div class="expandable"><img src="piano/piano.svg" alt=""/><p><strong>Comedy/Rap/Music Videos</strong></p></div>
					<div class="expandable"><img src="images/agreement.svg" alt=""/><p><strong>Practice Questions</strong></p></div>
					<div class="expandable"><img src="images/award.svg" alt=""/><p><strong>Need-to-Knows Packet</strong></p></div>
				</div>
				<a href="" class="button-green">Choose Combo Plan</a>
			</div>
		</div>
    </div>
</section>

<section class="founder">
	<div class="founder-content">
	    <div class="text-block-left">
	    	<h4>What’s up, Prepster?</h4>
	      	<h3>Our Founder</h3>
			<hr class="line"></hr>
	    </div>
	    <div class="text-block-right">
	    	<p>I first realized I needed to make Prepmedians when I was tutoring 5000+ hours in New York City after graduating magna cum laude from Yale University. I had 99th percentile scores on the ACT®, SAT®, and GMAT on first attempts. A majority of all my students I had taught my full methodology to earned 95th+ percentiles on their English sections, several students earned perfect scores on their English sections, and two students earned perfect scores on their overall tests. Most importantly, my students were laughing while learning. They genuinely looked forward to our sessions because I was teaching them through pop culture, comedy, and rap. I wanted to expand my impact, and (after 5000+ cups of perfect coffee) Prepmedians was born.

			So let’s crush this test together. The content and strategies you’ll learn will help you not only for the test but also for the rest of your literary life. Yep, that includes your golden years when you’re filling out a crossword puzzle and you’re trying to remember what a participle is. My team and I have put everything we can into making this dream a reality, and I can’t wait to guide you on the Prepmedians journey.</p>
			<div class="kalyan">
				<%= image_tag("kalyan.svg", alt: "Prepmedian founder Kalyan") %>
				<h5>Kalyan Ray-Mazumder; Founder, CEO, and Host of Prepmedians</h5>
			</div>
	    </div> 
	</div>
</section>

<img src="images/green.svg" alt="" class="right-play"/>
<img src="images/dark.svg" alt="" class="left-play"/>